@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

a.active {
  @apply bg-gray-100 rounded-4xl;
}
a {
  @apply hover:bg-gray-100 hover:rounded-4xl;
}
